@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1445px) {
}

@media only screen and (max-width: 1366px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .talkContent {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
}
@media (max-width: 767.98px) {
  section,
  .aboutSec {
    padding: 3rem 0;
  }
  .main-slider,
  .ctaSection {
    text-align: center;
  }
  .ctaSection .col-md-6.text-right {
    text-align: center !important;
  }
  .main-slider .row {
    flex-direction: column-reverse;
  }
  .main-slider img {
    max-width: 350px;
    margin-top: 3rem;
  }
  .main-slider.innerSlider {
    padding: 0;
  }
  .main-slider.innerSlider img {
    max-width: 100%;
    min-height: 300px;
    object-fit: cover;
  }
  .main-slider.innerSlider h2,
  .main-slider h2 {
    font-size: 2rem;
  }

  .mainSlide {
    text-align: center;
  }
  header {
    padding: 0;
  }
  .rsrvBtn {
    justify-content: center;
  }
  .trstPilot ul {
    justify-content: center;
    margin-bottom: 2rem;
  }
  .comboPackSec {
    text-align: center;
  }
  .logoCard {
    flex-direction: column;
  }
  .countsSec .count-box {
    justify-content: center;
  }
  .logoCard .imgWrap,
  .logoCard .content {
    width: 100%;
    text-align: center;
    align-items: center;
  }
  .testimonialInfo {
    text-align: center;
    margin-top: 1rem;
  }
  .testimonialInfo ul {
    justify-content: center;
  }
  .contact-form {
    margin-top: 1rem;
  }
  .container {
    max-width: 540px;
  }
  footer {
    text-align: center;
  }
  footer .socialIo {
    justify-content: center;
  }
  footer p {
    text-align: center;
  }
  .navbar-collapse {
    background-color: var(--theme-color);
    text-align: center;
    padding: 1rem;
  }
  .navbar-nav .nav-item .nav-link {
    color: var(--white);
  }
  .navbar-collapse .form-inline {
    justify-content: center;
  }
  .aboutSec.aboutInnr .row + .row,
  .servicesSec .row + .row {
    margin-top: 3rem;
  }
  .servicesSec figure img {
    box-shadow: 30px 30px #37bfee;
  }
  .servicesSec .flex-row-reverse figure img {
    box-shadow: -30px 30px #37bfee;
  }
  .servicesSec {
    text-align: center;
    padding-bottom: 5rem;
  }
  .servicesSec .themeBtn {
    margin-bottom: 1rem;
  }
  .servicesSec .secHeading {
    margin-top: 1rem;
  }
  .servicesSec ul li {
    text-align: left;
  }
  .servicesSec .service-box {
    height: auto;
    padding: 2rem 1.5rem;
  }
}
@media (max-width: 575.98px) {
  :root {
    font-size: 12px;
  }
  .secHeading {
    font-size: 2rem;
  }
  .ctaSection .secHeading {
    margin-bottom: 1rem;
  }
  .portfolioTabs ul {
    gap: 1rem 0.5rem;
  }
  .portfolioTabs .nav-item .nav-link {
    padding: 0.5em 1em;
    font-size: 14px;
  }
  .testimonials .testimonial-item {
    margin: 0 15px;
  }
  .contactSec .info-box {
    align-items: center;
  }
  .contactSec .info-box.top {
    top: auto;
  }
  .contact-form {
    margin-top: 2rem;
  }
  .socialIo li a {
    font-size: 1.5rem;
  }
}
@media (max-width: 320.98px) {
}
